<div
	id="analysis-progress"
	hx-get="{% url 'get_analysis_progress' %}"
	hx-trigger="every 1500ms"
	hx-target="this"
	hx-swap="innerHTML"
>

	<p>
		Current Excerpt: {{ job.progress }}
	</p>

	<p>
		Comparing Against Excerpt: {{ job.subprogress }}
	</p>

	<p>
		Total Excerpts: {{ job.total }}
	</p>

	<p>
		<label id="pblabel">Progress</label>: {{ percent }}%

		<div
			class="progress-bar"
			role="progressbar"
			aria-valuemin="0"
			aria-valuemax="100"
			aria-valuenow="0"
			aria-labelledby="pblabel"
		>
			<div class="bar" style="width: {{ percent }}%" />
		</div>
	</p>

	<p>
		<a
			hx-get="{% url 'stop_similarity_analysis' %}"
			hx-trigger="click"
			hx-swap="outerHTML"
			hx-target="#analysis-progress"
		>Stop (resumable any time)</a>
	</p>
</div>
