<h2>Confirm Auto-Tagging</h2>

{% include "excerpts/excerpts/_excerpt_list.html" %}

{% comment %}{% for excerpt in excerpts %}                                                  {% endcomment %}
{% comment %}<div id="autotags-{{ excerpt.id }}" class="block">                             {% endcomment %}
{% comment %}    <p>                                                                        {% endcomment %}
{% comment %}        {% include "excerpts/excerpts/_excerpt_link.html" %}                   {% endcomment %}
{% comment %}    </p>                                                                       {% endcomment %}

{% comment %}    {% include "excerpts/excerpts/_excerpt_tags.html" with show_unused=False %}{% endcomment %}
{% comment %}</div>                                                                         {% endcomment %}
{% comment %}{% endfor %}                                                                   {% endcomment %}

