#@TODO see what's still in use

.venv
config/.gdocs/
barton.db

src/excerpts/static/excerpts/*.css

src/static/CACHE/
*.css.map
.sass-cache/

__pycache__/
*.egg-info/

cache/
debug/
*.sqlite3
*.sqlite3-journal
*.sqlite3.bk
