<div class="excerpt-tags" hx-target="this" hx-swap="outerHTML">
	{% with tags=excerpt.tags.all %}
		{% include "excerpts/tags/_tag_list.html" with show_unused=False %}
	{% endwith %}

	{% if show_unused != False %}
	<div class="blocks tags unused-tags">
		{% for tag in excerpt.unused_tags %}
			{% include "excerpts/tags/_inactive_tag.html" %}
		{% endfor %}
	</div>
	{% endif %}

	<div class="blocks tags autotags">
		{% for autotag in excerpt.autotags.all %}
			{% include "excerpts/tags/_autotag.html" %}
		{% endfor %}
	</div>
</div>
