<p>
	Displaying results {{ page_obj.start_index }} - {{ page_obj.end_index }}
	of {{ page_obj.paginator.count }}.
</p>

<p>
	{% if prev_page_url %}
		<a href="{{ prev_page_url }}">Previous</a>
	{% else %}
		<span class="disabled">Previous</span>
	{% endif %}

	{% if next_page_url %}
		<a href="{{ next_page_url }}">Next</a>
	{% else %}
		<span class="disabled">Next</span>
	{% endif %}
</p>

<!--<p><a href="/excerpts/excerpt/new/">New Excerpt</a></p>-->

{% if page_obj %}
<ul>
{% for excerpt in page_obj %}
	<li>
		{% include "excerpts/excerpts/_excerpt_list_single.html" with excerpt=excerpt %}
	</li>
{% endfor %}
</ul>
{% else %}
<p>No excerpts are available.</p>
{% endif %}

