{% extends "excerpts/base.html" %}

{% block title %}{{ excerpt.content }}{% endblock %}

{% block content_class %}excerpt_page{% endblock %}

{% block content %}

<a class="back" href="/excerpts/">Back to all excerpts</a>

{% include "excerpts/excerpts/_excerpt.html" %}

{% if excerpt.versions.all.count > 1 %}
	<h3>Versions</h3>
	{% include "excerpts/excerpts/_excerpt_versions.html" %}
{% endif %}

<h3>Tags</h3>
{% include "excerpts/excerpts/_excerpt_tags.html" %}

<input type="text" placeholder="Search unused tags…">

{% comment %}<h3>Metadata</h3>{% endcomment %}
{% comment %}<p>{{ excerpt.metadata }}</p>{% endcomment %}

<h3>Controls</h3>
<div class="controls">
	<a class="edit" href="/excerpts/excerpt/{{ excerpt.id }}/edit">Edit</a>
	<a
		class="delete"
		{% comment %}hx-delete="/excerpts/excerpt/{{ excerpt.id }}"            {% endcomment %}
		{% comment %}hx-confirm="Are you sure you want to delete this excerpt?"{% endcomment %}
		href="/excerpts/excerpt/{{ excerpt.id }}/delete"
	>
	Delete</a>
</div>

<p><a href="/excerpts/">Back to all excerpts</a></p>

{% endblock %}
