{% extends "excerpts/base.html" %}

{% block title %}Excerpts{% endblock %}

{% block content %}
<div class="row">
	<h2>Excerpts</h2>

	<form
		id="excerpt-search"
		hx-get="{% url 'search' %}?page={{ page_obj.number }}"
		hx-target="#excerpt-list"
		hx-trigger="change"
	>
		<input
			type="text"
			name="search"
			placeholder="Search"
			value="{{ search }}"
		/>

		<select name="page_size">
			{% for page_size_option in page_sizes %}
				<option value="{{ page_size_option }}"{% if page_size_option == page_size %} selected{% endif %}>
					{{ page_size_option }}
				</option>
			{% endfor %}
		</select>

		{% comment %}<input type="submit" value="Search" />{% endcomment %}
	</form>
</div>

<div id="excerpt-list">
	{% include "excerpts/excerpts/_excerpt_list.html" %}
</div>
{% endblock %}
