<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>

		{% load static %}
		{% load compress %}

		{% compress css %}
		<link type="text/x-scss" rel="stylesheet" href="{% static 'excerpts/sass/style.scss' %}">
		{% endcompress %}
		
		<script src="{% static 'excerpts/htmx.min.js' %}"></script>

		{% block head %}{% endblock %}
	</head>

	<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
		<header id="main-header">
			<h1><a href="{% url 'index' %}">Barton Link</a></h1>

			<nav id="main-menu">
				<ul>
					<li><a href="{% url 'index' %}">Excerpts</a></li>
					<!-- <li><a href="{% url 'index' %}">Scenes</a></li> -->
					<li><a href="{% url 'entities' %}">Entities</a></li>
					<!-- <li><a href="{% url 'entities' %}">Events</a></li> -->
					<!-- <li><a href="{% url 'index' %}">Concepts</a></li> -->
					<li><a href="{% url 'tags' %}">Tags</a></li>
					| 
					<li><a href="{% url 'index' %}">Stories</a></li>
					<li><a href="{% url 'tools' %}">Tools</a></li>
				</ul>
			</nav>
		</header>

		<div id="content" class="{% block content_class %}{% endblock %}">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
