<div class="blocks projects excerpt-projects">
	<div class="excerpt-projects">
		{% for project in excerpt.projects.all %}
			<a
				class="block project"
				hx-post="/excerpts/excerpt/{{ excerpt.id }}/remove_project/{{ project.id }}/"
				hx-trigger="click"
			>
				{{ project.name }}
			</a>
		{% endfor %}
	</div>

	<div class="unused-projects">
		{% for project in excerpt.unused_projects %}
		<div class="block project">
			<a
				hx-post="/excerpts/excerpt/{{ excerpt.id }}/add_project/{{ project.id }}/"
				hx-trigger="click"
				class="block project inactive"
			>
				{{ project.name }}
			</a>
		</div>
		{% endfor %}
	</div>
</div>
