<div class="blocks tags" hx-target="this" hx-swap="outerHTML">
	<div class="excerpt-tags">
		{% for excerpttag in excerpt.excerpttag_set.all %}
		{% with tag=excerpttag.tag %}
		<div class="block tag{% if excerpttag.is_autotag %} autotag{% endif %}">
			<div class="block-controls">
				<a
					hx-post="/excerpts/excerpt/{{ excerpt.id }}/remove_tag/{{ tag.id }}"
					hx-trigger="click"
					class="block-control red"
				>
					x
				</a>

				<a
					href="/excerpts/tags/{{ tag.id }}"
					class="block-control tag-link blue"
				>
					i
				</a>
			</div>

			{{ tag.name }}
		</div>
		{% endwith %}
		{% endfor %}
	</div>

	{% if show_unused_tags != False %}
	<div class="unused-tags">
		{% for tag in excerpt.unused_tags %}
		<div class="block tag inactive">
			<div class="block-controls">
				<a
					hx-post="/excerpts/excerpt/{{ excerpt.id }}/add_tag/{{ tag.id }}"
					hx-trigger="click"
					class="block-control green"
				>
					+
				</a>

				<a href="/excerpts/tags/{{ tag.id }}" class="block-control tag-link blue">
					i
				</a>
			</div>

			{{ tag.name }}
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
