{% extends "excerpts/base.html" %}

{% block title %}Excerpts{% endblock %}

{% block content %}
	<h1>Excerpts</h1>
	<p>
		Displaying results {{ page_obj.start_index }} - {{ page_obj.end_index }}
		of {{ page_obj.paginator.count }}.
	</p>

	<p>
		{% if page_obj.has_previous %}
			<a href="/excerpts/{{ page_obj.previous_page_number }}/">Previous</a>
		{% else %}
			<span class="disabled">Previous</span>
		{% endif %}

		{% if page_obj.has_next %}
			<a href="/excerpts/{{ page_obj.next_page_number }}/">Next</a>
		{% else %}
			<span class="disabled">Next</span>
		{% endif %}
	</p>

	<!--<p><a href="/excerpts/excerpt/new/">New Excerpt</a></p>-->

{% if page_obj.has_next %}
    <ul>
    {% for excerpt in page_obj %}
        <li>
			{% include "excerpts/excerpt_list_single.html" with excerpt=excerpt %}
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No excerpts are available.</p>
{% endif %}

{% endblock %}
