body {
	background: rgb(20, 20, 20);
	color: rgb(205, 205, 205);
}

#content {
	width: 900px;
	margin: 0 auto;
	padding: 10px 30px;
	background: hsl(0, 23.8%, 4.1%);
	animation: body-hue-rotate $hueRotateSpeed linear infinite;

	header {
		display: flex;

		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}

		.control {
			display: none;
			margin-left: 10px;
		}

		&:hover .control {
			display: block;
		}
	}
}
