$startingHue: 270;
$hueRotateSpeed: 500s;

//@TODO probably turn this redundant code into a mixin if they support params
@keyframes background-hue-rotate {
	0% { background-color: hsl(270, 35%, 7%); }
	25% { background-color: hsl(0, 35%, 7%); }
	50% { background-color: hsl(90, 35%, 7%); }
	75% { background-color: hsl(180, 35%, 7%); }
	100% { background-color: hsl(270, 35%, 7%); }
}

$contentBgSaturation: 26.8%;
$contentBgBrightness: 7.7%;
@keyframes body-hue-rotate {
	0% { background-color: hsl(270, $contentBgSaturation, $contentBgBrightness); }
	25% { background-color: hsl(0, $contentBgSaturation, $contentBgBrightness); }
	50% { background-color: hsl(90, $contentBgSaturation, $contentBgBrightness); }
	75% { background-color: hsl(180, $contentBgSaturation, $contentBgBrightness); }
	100% { background-color: hsl(270, $contentBgSaturation, $contentBgBrightness); }
}

$textSaturation: 46.8%;
$textBrightness: 90%;
@keyframes text-hue-rotate {
	0% { color: hsl(270, $textSaturation, $textBrightness); }
	25% { color: hsl(0, $textSaturation, $textBrightness); }
	50% { color: hsl(90, $textSaturation, $textBrightness); }
	75% { color: hsl(180, $textSaturation, $textBrightness); }
	100% { color: hsl(270, $textSaturation, $textBrightness); }
}

@keyframes hue-rotate {
	0% { background: hsl(270, 70%, 82%); }
	25% { background: hsl(0, 70%, 82%); }
	50% { background: hsl(90, 70%, 82%); }
	75% { background: hsl(180, 70%, 82%); }
	100% { background: hsl(270, 70%, 82%); }
}

@mixin disabled {
	color: rgb(105, 105, 105);
	background: rgba(105, 105, 105, 0.1);

	&:hover {
		color: rgb(155, 155, 155);
		background: rgba(105, 105, 105, 0.2);
	}
}

.disabled {
	@include disabled;
}

@mixin deleted {
	color: rgb(50, 10, 10);
	background: rgba(50, 10, 10, 0.1);

	&:hover {
		color: rgb(120, 10, 10);
		background: rgba(50, 10, 10, 0.2);
	}
}

.deleted {
	//padding: 10px;
	//margin-bottom: 10px;
	@include deleted;
}

@mixin autotag {
	color: rgb(155, 205, 205);
	background: rgba(105, 205, 205, 0.1);

	&:hover {
		color: rgb(105, 255, 255);
		background: rgba(105, 205, 205, 0.2);
	}
}

.autotag {
	@include autotag;
}

.metadata {
	color: rgb(105, 105, 105);
	font-size: 0.7em;
}
