body {
	animation: text-hue-rotate $hueRotateSpeed linear infinite;
}

h1, h2, h3, h4, h5, h6 {
	animation: text-hue-rotate $hueRotateSpeed linear infinite;
}

a {
	color: rgb(205, 205, 205);

	&:hover {
		color: rgb(255, 255, 255);
	}
}
