<form
	class="tag editor"
{% if tag.id %}
	hx-put="/excerpts/tags/{{ tag.id }}"
{% else %}
	hx-post="/excerpts/tags"
{% endif %}
	hx-target="this"
	hx-swap="outerHTML"
>
	<input
		name="tag_name"
		value="{{ tag.name }}"
		placeholder="Tag name"
	/>

	<select name="tag_type_id">
		{% comment %}#@REVISIT:{% endcomment %}
		<option value="">Select a tag type</option>

		{% for tag_type in tag_types %}
			<option
				value="{{ tag_type.id }}"
				{% if tag.type.id == tag_type.id %}selected{% endif %}
			>
				{{ tag_type.name }}
			</option>
		{% endfor %}
	</select>

	{% comment %}<input name="description" value="{{ tag.description }}" />{% endcomment %}

	{% comment %}<input name="is_autotag" type="checkbox" {% if tag.is_autotag %}checked{% endif %} />{% endcomment %}
	{% comment %}<input name="is_hidden" type="checkbox" {% if tag.is_hidden %}checked{% endif %} />  {% endcomment %}
	{% comment %}<input name="is_deleted" type="checkbox" {% if tag.is_deleted %}checked{% endif %} />{% endcomment %}
</form>
