{% include "excerpts/tags/_tag_type_header.html" %}

<section class="blocks tags">
	{% for tag in tag_type.tags.all %}
	{% comment %}
	<div class="block tag">
		<div class="block-controls">
			<a
				hx-post="/excerpts/tags/{{ tag.id }}/delete"
				hx-trigger="click"
				class="block-control red"
			>
				x
			</a>

			<a
				href="/excerpts/tags/{{ tag.id }}"
				class="block-control tag-link blue"
			>
				i
			</a>
		</div>

		{{ tag.name }}
	</div>
	{% endcomment %}

	<a href="/excerpts/tags/{{ tag.id }}" class="block tag">
		{{ tag.name }}
	</a>
	{% endfor %}
</section>
