<li class="duplicate-excerpt">
	{{ excerpt.content|linebreaksbr }}

	<div class="tags blocks">
		{% for tag in excerpt.tags %}
			<span class="block tag">{{ tag }}</span>
		{% endfor %}
	</div>

	{% if excerpt.metadata %}
	<div class="metadata">
		{{ excerpt.metadata }}
	</div>
	{% endif %}

	{% if excerpt.children %}
		<ul>
		{% for child in excerpt.children %}
			{% if child.is_duplicate %}
				{% with excerpt=child %}
				{% include 'excerpts/import/_import_duplicate_excerpt.html' %}
				{% endwith %}
			{% else %}
				<li class="unique-child-note">
					<em>Child excerpt "{{ child.content|truncatechars:50 }}" is unique and will be imported.</em>
				</li>
			{% endif %}
		{% endfor %}
		</ul>
	{% endif %}
</li> 