{% extends "excerpts/base.html" %}

{% block title %}Import Excerpts{% endblock %}

{% block content %}
<form
	hx-post="/excerpts/import"
	hx-encoding="multipart/form-data"
	hx-swap="outerHTML"
	hx-target="#import-confirmation"
>
	{% csrf_token %}

	<div>
		<h2>Default Tags</h2>

		<p>Select the tags that will be applied to all imported excerpts.</p>

		{% include "excerpts/tags/_tag_toggler.html" %}
	</div>

	<div>
		<h2>Select Input Method</h2>

		<button
			hx-target="#input-method-options"
			hx-get="/excerpts/import/file-upload"
		>
			File Upload
		</button>

		{% comment %}<button                                 {% endcomment %}
		{% comment %}    hx-target="#input-method-options"   {% endcomment %}
		{% comment %}    hx-get="/excerpts/import/text-paste"{% endcomment %}
		{% comment %}>                                       {% endcomment %}
		{% comment %}    Plain Text                          {% endcomment %}
		{% comment %}</button>                               {% endcomment %}

		{% comment %}<button                              {% endcomment %}
		{% comment %}    hx-target="#input-method-options"{% endcomment %}
		{% comment %}    hx-get="/excerpts/import/gdocs"  {% endcomment %}
		{% comment %}>                                    {% endcomment %}
		{% comment %}    Google Docs                      {% endcomment %}
		{% comment %}</button>                            {% endcomment %}
	</div>

	{% include "excerpts/import/_file_upload.html" %}

	<button type="submit">Preview Import</button>
</form>

{% include "excerpts/import/_import_confirmation.html" %}
{% endblock %}
